@page "/"

<PageTitle>Home</PageTitle>

<div class="container">
    <h1>Welcome to our Language Tutoring App</h1>
    
    <div class="languages">
        @foreach(string lang in _languageOption)
        {
            <div class="language">
                <Flag Country= "@lang" />
            </div>
        }

    </div>
    
    <footer>
        <p>&copy; 2022 Language Tutoring App. All rights reserved.</p>
    </footer>
</div>

<style>
    .container {
        text-align: center;
        margin: 20px;
    }
    
    .languages {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }
    
    .language {
        margin: 10px;
    }
    
    footer {
        margin-top: 50px;
        background-color: #f8f8f8;
        padding: 10px;
    }
</style>

@code{
    List<string> _languageOption = new List<string>()
    {
        "Arabic",
        "France",
        "Netherlands",
        "Russia"   
    };

}