<div>
    <NavLink href="PreferencesView" class="nav-link">Preferences</NavLink>
    <NavLink href="GeneralView" class="nav-link">General</NavLink>
    <NavLink href="ImportView" class="nav-link">Import</NavLink>
    <NavLink href="ExportView" class="nav-link">Export</NavLink>
    <NavLink href="DeleteView" class="nav-link">Delete</NavLink>
    <NavLink href="LogOutView" class="nav-link">LogOut</NavLink>

</div>