.page-wrapper[b-9n8bgij6nl]
{
    display: flex;
    height: 80vh;
}

.options-wrapper[b-9n8bgij6nl]
{
    width: 20%;
    padding: 10px;
}

.content-wrapper[b-9n8bgij6nl]
{
    width: 80%;
    padding: 10px;
    transition: transform 0.5s ease;
    transform-origin: top right;
}

.content-wrapper.peel-effect[b-9n8bgij6nl]
{
    transform: rotateY(10deg);
}